@require "example/styles/config.styl"

html
	font-size 125%

body
	background backgroundColor
	color textColor
	font-size 1rem

a
	text-decoration none
	color rgb(224, 224, 224)

	:hover
		text-decoration underline
		color white